<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <table border="1" class="table table-striped">
    <thead>
    <tr>
        <th>序号</th>
        <th>设备id</th>
        <th>时间</th>
        <th>压力</th>
         <th>温度</th>
         <th>传感器电压</th>
         <th>传感器压力</th>
         <th>传感器温度</th>
         <th>原始编码</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr >
        <td>{{ forloop.counter }}</td>
        <td>{{ i.rom_id }}</td>
        <td>{{ i.time|date:"Y-m-d H:i:s" }}</td>
        <td>{{ i.pressure }}</td>
        <td>{{ i.temperature }}</td>
        <td>{{ i.s_volt }}</td>
        <td>{{ i.s_press }}</td>
        <td>{{ i.s_temp }}</td>
        <td>{{ i.s_data }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>


</body>
</html>